<ion-card>
  <ion-card-header>
    <ion-card-title>Lado Oeste</ion-card-title>
    <ion-card-subtitle style="text-align: center; ">

      Este passeio é um dos mais divertidos e emocionantes,
      assim que combinado diretamente com o seu motorista o
      horário de saída que normalmente seria depois do café
      da manhã por volta das 09:00hs da manhã, o passeio se
      realizará desfrutando de todos os pontos turísticos
      oferecidos e será finalizado ao fim de tarde por volta das 16:00hs.


    </ion-card-subtitle>
    <ion-card-subtitle>
      <b>
        Segue abaixo os principais pontos turísticos:
      </b>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>

  </ion-card-content>

</ion-card>