<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="Cliente()">
      <ion-button color="primary">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>

    </ion-buttons>
    <ion-title>Agendar Passeios</ion-title>
    
  </ion-toolbar>
</ion-header> -->

<app-header  titulo="Agendar Passeios"></app-header>

<ion-content ion-padding>

  <!-- DADOS DO CLIENTE -->

  <ion-item>    
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Telefone</ion-label>
    <ion-input type="tel" [(ngModel)]="telefone"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">E-mail</ion-label>
    <ion-input [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Data do passeio</ion-label>
    <ion-datetime 
    placeholder="Data"
  
    display-format="DD/MM/YYYY"
    cancelarText="Cancelar"
    [(ngModel)]="datapasseio"
    min="2020" max="2100"
    
    ></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>Horario</ion-label>
    <ion-datetime displayFormat="HH:mm A" hourValues="" minuteValues="" [(ngModel)]="horario"></ion-datetime>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Ponto de embarque</ion-label>
    <ion-input [(ngModel)]="pontoembarque"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Destino</ion-label>
    <ion-input [(ngModel)]="destino"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade de passageiros</ion-label>
    <ion-input [(ngModel)]="qntpassageiros"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Valor</ion-label>
    <ion-input [(ngModel)]="valor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição</ion-label>
    <ion-input [(ngModel)]="descricao"></ion-input>
  </ion-item>

  <!-- BOTAO DE SALVAR -->

  <ion-button *ngIf="!id" color="success" expand="block" (click)="cadastrar()">
    Salvar
  </ion-button>

  <ion-button *ngIf="id>0" color="primary" expand="block" (click)="editar()">
    Editar
  </ion-button>

</ion-content>