.bt{
    padding-left: 5%;
}

.ajuste-center-page{    
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-width{
    width: 90%;    
    background-color:white;
}