
<ion-card>    

   <ion-card-content>

    <ion-card-title>• Guia online</ion-card-title>
    <ion-card-subtitle style="text-align: left; padding-left: 20px;">
      texto discrevendo como seria esse tipo de serviço.
    </ion-card-subtitle>

    <ion-card-title>• Organizador de excursões</ion-card-title>
    <ion-card-subtitle style="text-align: left; padding-left: 20px;">
      texto discrevendo como seria esse tipo de serviço.
    </ion-card-subtitle>

    <ion-card-title>• Passeios de Buggy</ion-card-title>
    <ion-card-subtitle style="text-align: left; padding-left: 20px;">
      texto discrevendo como seria esse tipo de serviço.
    </ion-card-subtitle>

    <ion-card-title>• Fotografia e video de drone</ion-card-title>
    <ion-card-subtitle style="text-align: left; padding-left: 20px;">
      texto discrevendo como seria esse tipo de serviço.
    </ion-card-subtitle>

    <ion-card-title>• Bebidas car</ion-card-title>
    <ion-card-subtitle style="text-align: left; padding-left: 20px;">
      texto discrevendo como seria esse tipo de serviço.
    </ion-card-subtitle>
  </ion-card-content>

</ion-card>
