
<ion-card>
  <ion-card-header>
    <ion-card-title>Passeio das Lagoas (Lado Leste)</ion-card-title>
    <ion-card-subtitle style="text-align: center; ">

      Este passeio é um dos mais divertidos e emocionantes,
      assim que combinado diretamente com o seu motorista o
      horário de saída que normalmente seria depois do café
      da manhã por volta das 09:00hs da manhã, o passeio se
      realizará desfrutando de todos os pontos turísticos
      oferecidos e será finalizado ao fim de tarde por volta das 16:00hs.


    </ion-card-subtitle>
    <ion-card-subtitle>
      <b>
        Segue abaixo os principais pontos turísticos:
      </b>
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>

    <ion-slides pager="true">

      <ion-slide>
        <ion-list>

          <ion-img src="./assets/ladoLeste/01.jpeg"></ion-img>
          
          <ion-card-title>Parque Nacional / Dunas de Jericoacoara</ion-card-title>
          <ion-card-subtitle>
            Este seria o último ponto turístico, areias finas e calmas, perfeito para fotos,
            em determinadas épocas do ano por conta do período chuvoso se formam lagoas cristalinas
            entre elas, lembrando muito os Lençóis Maranhenses. Infelizmente não é permitido subir
            nas dunas com veículos, apenas apé, pois se trata de dunas sensíveis e não podemos
            acelerar o movimento natural.
          </ion-card-subtitle><br>

        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>

          <ion-img src="./assets/ladoLeste/02.jpeg"></ion-img>
        
          <ion-card-title>Árvore da Preguiça</ion-card-title>
          <ion-card-subtitle>
            Este ponto turístico é bem popular pelo seu fácil acesso, fica entre a vila de
            Jericoacoara e a praia do Preá. O que chama atenção são suas raízes bem definidas
            e preservadas além do fato da árvore estar deitada por conta da ação constante do
            vento, explicando o seu apelido de Árvore da Preguiça.
            Um cuidado especial que temos é de não permitir que os turistas e viajantes não
            subam nela pois seus galhos podem quebrar.
          </ion-card-subtitle><br>

        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>

          <ion-img src="./assets/ladoLeste/06.jpg"></ion-img>
          
          <ion-card-title>Praia do Preá</ion-card-title>
          <ion-card-subtitle>
            Esta é uma vila de pescadores como Jericoacoara, que se destaca pela quantidade de
            quiosques e restaurantes populares em frente a praia, uma ótima opção de almoço
            pois possui uma variedade de frutos do mar bem frescos.

          </ion-card-subtitle><br>

        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>

          <ion-img src="./assets/ladoLeste/03.png"></ion-img>
         
          <ion-card-title>Pedra Furada</ion-card-title>
          <ion-card-subtitle>
            Este ponto turístico é bem desafiador, porém compensa bastante por conta da beleza
            natural que oferece. Este passeio não depende do motorista pois pode ser feito pela vila,
            é uma caminhada de 2km a partir da saída da Vila, recomenda-se o uso de tênis e levar água,
            o acesso é proibido para veículos, por isso não depende do motorista.
          </ion-card-subtitle><br>

        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>

          <ion-img src="./assets/ladoLeste/04.jpeg"></ion-img>
        
          <ion-card-title>Lagoa do Paraíso</ion-card-title>
          <ion-card-subtitle>
            Nossa lagoa é o principal ponto, possui uma variedade de restaurantes do mais econômico
            ao mais exclusivo no qual pode consultar com o motorista a melhor opção.
          </ion-card-subtitle><br>

        </ion-list>
      </ion-slide>

      <ion-slide>
        <ion-list>

          <ion-img src="./assets/ladoLeste/05.jpeg"></ion-img>
       
          <ion-card-title>Buraco Azul</ion-card-title>
          <ion-card-subtitle>
            Este ponto turistico é recente, sua formação foi totalmente inocente, seria um local no qual
            foi retirado areia para construções locais ,com a chegada do período chuvoso acabou
            acidentalmente enchendo e se tornando uma ótima opção de banho, além de ficar incrível
            nas fotos. A cor da água é por conta do brilho do sol e pela argila presente no buraco.
          </ion-card-subtitle><br>

        </ion-list>    
      </ion-slide>

    </ion-slides>
    <ion-button class= "ion-text-capitalize" expand="block" padding (click)="agendarPasseio()" color="primary">Agendar Parceios</ion-button>
  <br> <br>
  </ion-card-content>
  
</ion-card>
